.hero{
    position: relative;
    display: flex;
    height: 60vh;
    align-items: center;
}

.hero-img{
    z-index:-1;
    width: 600px;
    position: absolute;
    right: 0;
}

.hero-body{
    width: min(650px, 70vw);
}

@media (max-width: 1200px) {
    .hero-body{
        width: 620px;
    }

    .hero-img{
        width: min(450px, 80vw);
    }
}

@media (max-width:992px){
    .hero{
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
    }
    
    .hero-body{
        width: 80vw;
        text-align: center;
        padding-bottom: 2rem;
    }

    .hero-img{
        position: relative;
        width: 95%;
    }
}