.nav-title {
    font-size: calc(1.375rem + .5vw);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.476px;
}

.main-header {
    font-size: calc(2rem + 1.5vw);
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: -1.3px;
    text-transform: capitalize;
}

.sub-header {
    font-size: min(18px, calc(1rem + .25vw));
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.4px;
}

.text-body {
    font-size: min(18px, calc(0.75rem + 0.5vw));
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.36px;
    color: var(--bs-primary-dark) !important;
}

.text-title {
    /*aggiungere cose*/
}