.nav-title {
    font-size: calc(1.375rem + .5vw);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.476px;
}

.main-header {
    font-size: min(55px, calc(2.5rem + 1.2vw));
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: -1.3px;
    text-transform: capitalize;
}

.sub-header {
    font-size: min(18px, calc(1rem + .25vw));
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.4px;
}

.text-body,
.text-body-white {
    font-size: min(17px, calc(0.75rem + 0.5vw));
    font-style: normal;
    font-weight: 350;
    line-height: 150%;
    letter-spacing: 0.36px;
    color: var(--bs-primary-dark);
}

.text-body-white{
    color: white;
}

.text-title {
    font-size: min(45px, calc(1.75rem + 0.8vw));
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -0.05rem;
}

.text-subtitle {
    font-size: min(35px, calc(1.75rem + 1vw));
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -0.05rem;
}