.btn {
	border: none;
	outline: none;
	border-radius: 100px;
}

.btn-primary {
	--bs-btn-color: #fff;
	--bs-btn-bg: var(--bs-primary);
	--bs-btn-border-color: var(--bs-primary);
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: var(--bs-primary-hover);
	--bs-btn-hover-border-color: var(--bs-primary);
	--bs-btn-focus-shadow-rgb: 49, 132, 253;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: var(--bs-primary-hover);
	--bs-btn-active-border-color: var(--bs-primary-hover);
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: #0d6efd;
	--bs-btn-disabled-border-color: #0d6efd;

	padding: 1.15rem 3rem;
}

.btn-secondary {
	--bs-btn-color: #fff;
	--bs-btn-bg: var(--bs-secondary);
	--bs-btn-border-color: var(--bs-secondary);
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: var(--bs-secondary-hover);
	--bs-btn-hover-border-color: var(--bs-secondary);
	--bs-btn-focus-shadow-rgb: 49, 132, 253;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: var(--bs-secondary-hover);
	--bs-btn-active-border-color: var(--bs-secondary-hover);
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: var(--bs-btn-secondary-disabled-bg);
	--bs-btn-disabled-border-color: #0d6efd;

	padding: 0.9rem 3.5rem;
}

.was-validated .form-control:valid {
	background-image: none;
}

.scheda {
	border: 1px solid #c5c5c5;
	border-radius: 7px;
	text-decoration: none;
	background-color: white;

	transition: box-shadow 250ms ease-out, transform 150ms ease-out;
	transform: scale(1);

	text-wrap: balance;
}

.scheda:hover {
	/*background-color: rgba(0, 33, 85, 0.1);*/
	transform: scale(1.025);
	box-shadow: 0px 0px 10px rgba(0, 33, 85, 0.5);
}